<div class="wrapper row4 bgded overlay" style=" padding-right:50px; padding-left:50px; background-image:url({{asset('public/images/demo/backgrounds/02.png')}});">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <!--<div class="clear center btmspace-80">
      <h6 class="title">Suscríbete y ponte al día</h6>
      <form class="clear" method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input type="text" value="" placeholder="Escribe tu email aquí&hellip;">
          <button class="fa fa-share" type="submit" title="Submit"><em>Suscribirme</em></button>
        </fieldset>
      </form>
    </div>-->
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_third first">
        <h6 class="title">Cultura Viva</h6>
        <p>El ágora popular de la plaza San Martín es una asociación cultural sin fines de lucro (Registro de personas jurídicas, partida electrónica 13934264).</p>
        <p class="btmspace-15">Promueve el intercambio de ideas y filosofias de vida entre las diferentes mentes de nuestra nación. Cultura popular, cultura viva.</p>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="https://www.facebook.com/acappsm/"><i class="fa fa-facebook"></i></a></li>
          <li><a class="faicon-youtube" href="https://www.youtube.com/channel/UCnaaNW8peu0kNPzWg-bdoyA"><i class="fa fa-youtube"></i></a></li>
          <!--<li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
          <!--<li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>-->
          <!--<li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
          <!--<li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>-->
          <!--<li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>-->
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Contacto</h6>
        <ul class="nospace linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
            Jr. Calloma 828, Lima, Lima 01/15001
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +511 (01) 345 3768</li>
          <li><i class="fa fa-envelope-o"></i> info@agorapopular.com</li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Eventos</h6>
        <ul class="nospace linklist">
          <li>
            <article>
              <h2 class="nospace font-x1"><a href="#">Democracia en el Perú</a></h2>
              <time class="font-xs block btmspace-10" datetime="2018-01-12">Viernes, 12<sup>th</sup> Enero 2018</time>
              <p class="nospace">Mesa redonda con intelectuales de diferentes filosofias donde se debatirá sobre la realidad democrática peruana&hellip;</p>
            </article>
          </li>
          <li>
            <article>
              <h2 class="nospace font-x1"><a href="#">Estado Plurinacional Peruano</a></h2>
              <time class="font-xs block btmspace-10" datetime="2018-01-20">Sabado, 20<sup>th</sup> Enero 2018</time>
              <p class="nospace">¿Es el Perú una nación o un conjunto de naciones?&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5" style="padding-right:5px; padding-left:5px;">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Agora Popular</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>