<div class="wrapper row4 bgded overlay" style="background-image:url({{asset('public/images/demo/backgrounds/02.png')}}">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="clear center btmspace-80">
      <h6 class="title">Suscríbete, y ponte al día</h6>
      <form class="clear" method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input type="text" value="" placeholder="Type Email Here&hellip;">
          <button class="fa fa-share" type="submit" title="Submit"><em>Submit</em></button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_third first">
        <h6 class="title">Quis risus ultricies</h6>
        <p>Eleifend curabitur vel eros eget nunc sagittis vehicula a vitae tortor donec at nibh nisi ut eget felis eu urna iaculis.</p>
        <p class="btmspace-15">Cursus lacus ac nisl laoreet sed a lacus pharetra mattis nulla ut semper ex etiam ornare maximus lacus eget.</p>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Elementum luctus</h6>
        <ul class="nospace linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
            Street Name &amp; Number, Town, Postcode/Zip
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +511 (01) 345 3768</li>
          <li><i class="fa fa-envelope-o"></i> info@agorapopular.com</li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Etiam convallis ante</h6>
        <ul class="nospace linklist">
          <li>
            <article>
              <h2 class="nospace font-x1"><a href="#">Pharetra facilisis</a></h2>
              <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
              <p class="nospace">Condimentum fusce justo ligula malesuada ut finibus at dictum sem nulla&hellip;</p>
            </article>
          </li>
          <li>
            <article>
              <h2 class="nospace font-x1"><a href="#">Dapibus eros</a></h2>
              <time class="font-xs block btmspace-10" datetime="2045-04-05">Thirsday, 5<sup>th</sup> April 2045</time>
              <p class="nospace">Lacinia sem vitae lorem etiam aliquet magna vitae cursus ultrices sed enim&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>