{% extends 'base.html.twig' %}

{% block title %}
Agora | Nosotros
{% endblock %}

{% block body %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay"> 
<!--<div class="bgded overlay" style="background-image:url({{asset('public/images/demo/backgrounds/01.png')}}"> -->
  <!-- ################################################################################################ -->
{{ parent() }}
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
{#{{ include ('menu2.html.twig')}}#}
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first"> 
      <!-- ################################################################################################ -->
      <h6>Acerca de ...</h6>
      <nav class="sdb_holder">
        <ul>
          <li><a onclick="show(0); hide(1,2,3)" href="#">Nosotros</a></li>
          <li><a onclick="show(1); hide(0,2,3)" href="#">Nuestra historia</a></li>
          <li><a onclick="show(2); hide(0,1,3)" href="#">Nuestros principios</a></li>
          <li><a onclick="show(3); hide(0,1,2)" href="#">Nuestras actividades</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter"> 
      <!-- ################################################################################################ -->
      <div id="comments">
        <ul>
          <li id="0" style="display:block">
            <article>
              <header>
                <h2>INTRODUCCIÓN</h2>
              </header>
              <div class="comcont">
<p>La falta de políticas públicas para aproximar el trabajo académico a todas las comunidades, construyendo así una sociedad científica, tecnológica y crítica, basada en principios y valores de virtud humana, ha motivado a un conjunto de estudiantes y maestros de diversas universidades, centros técnicos y escuelas - así como a miembros de la sociedad civil que dedican parte de su vida a actividades de investigación y difusión del conocimiento e información - a constituir un grupo de trabajo con el fin de actuar como un centro de información académica y popular, además de educativa, teniendo como principal eje temático de discusión: “la Realidad Nacional”.</p> 
<p>Nuestra AC Ágora ocupa un espacio público, ganado en la plaza San Martín desde hace dieciséis años, donde viene congregando a sus miembros y a todo ciudadano de a pie, prestos para aportar sus conocimientos y experiencias, con el objeto de desarrollar una línea de debate en temas relacionados a la Historia Nacional e Internacional, coyunturas políticas y sociales, estudios de Ciencias Fácticas y Ciencias Exactas, entre otros; temas que analizados en interrelación e integridad nos muestran con mayor rigor los problemas económicos, sociales, políticos y culturales. </p>
<p>Sumando al grupo de profesionales contamos con la presencia de toda persona que, culminadas sus labores del día, participan apasionadamente de nuestras actividades, constituyendo así realmente un espacio democrático de participación ciudadana. De este modo, la labor social de nuestra AC Ágora busca reproducir el sistema de ágoras que, en tiempos de la antigua Grecia, cuna de la democracia, se manifestaba como poderosa institución social. Surgida en la isla de Creta, durante el periodo Creto-Micénico (2800 – 800 a.n.e., aprox.), como espacio público dedicado a actividades de expresión cultural - tanto política como religiosa - pronto pasó a formar parte central de las polis de cada ciudad estado, durante el periodo clásico (s. VIII – IV a.n.e.), para abordar temas de interés y problemáticas de las comunidades. </p>
<p>Somos una asociación cultural, por ende, sin fines de lucro. El aporte de cada socio, como la colaboración de sus participantes, constituye únicamente nuestro patrimonio social. No pretendemos sustituir la obligación del Gobierno. Pues, así como es deber y derecho de los padres alimentar, educar y dar seguridad a sus hijos, también es deber y obligación del Estado generar las condiciones que optimicen el desarrollo individual y colectivo de sus habitantes. </p>
<p>Reprochamos el negocio de los medios de comunicación masivos, la televisión y sus programas, que lejos de educar y formar buenos ciudadanos, distraen a través del ridículo y mantienen en ignorancia a nuestro pueblo. Rechazamos el negocio de la educación que contribuye a la desigualdad y mediocridad. Tratamos de llenar el vació y las lagunas que la desidia política de sus gobernantes va socavando a la educación.</p> 
<p>Estamos convencidos que el mayor bien de toda sociedad, y el principal y más valioso recurso que tenemos como Estado, es nuestra población. Solo a ellos les debemos respeto, son ellos quienes construyen día a día un futuro mejor, por tanto, merecen ser tratados dignamente. Al pueblo toda la dedicación.</p> 
<br>
<h5>Consejo Directivo</h5> 


              <!--  <p>La asociación cultural “Agora Popular de la Plaza San Martín” es una asociación sin fines de lucro, y está inscrita en el Registro de Personas Jurídicas (SUNARP) bajo la partida electrónica 13934264.</p>
                <p>
                Como asociación cultural, tiene como fin la concientización social, y se compone por dos órganos: el órgano cultural, que se encarga de la acción social mediante la generación de debates públicos y acciones culturales, y el órgano estudiantil, que se encarga de la difusión y producción intelectual de la comunidad académica.
                </p>
                <p>
                El ágora cultural popular es el parlamento del pueblo, donde personas de a pie nos reunimos a debatir sobre política, sociedad, economía, filosofía, etc., contrastar ideas, llegar a conclusiones y generar conciencia social. Se debaten temas de interés nacional e internacional. Además, se presenta la cultura como parte importante para el desarrollo del país.
                </p>
                <p>
                Existen ágoras al interior del país y en el extranjero. En especial, el espacio de la Plaza San Martín fue ganado a punta de palos, golpes y perdigones con las autoridades que se oponían al fin de estos espacios, pero al final, se pudo concretar este hecho; pudimos establecer nuestro parlamento popular y hasta el día de hoy, desde hace más de 60 años, el ágora ha recibido históricas visitas.
                </p>
                <p>
                El ágora popular tiene la finalidad de establecer debates públicos y generar conciencia social. El ágora popular se encarga de concientizar a la población mediante el debate y la polémica; darles una visión amplia sobre la realidad para la cultura popular.
                </p>
                <p>
                El ágora cultural popular no es un lugar, es un movimiento social, por lo tanto, si deseas establecer un ágora, ¡hazlo!, pero comunícate con la asociación para brindarte la información necesaria que permita concretar este fin.
                </p>
                <p>
                Así como el ágora cultural popular realiza labor social mediante los debates, también tiene representación en las luchas justas, y para eso necesitamos estar organizados y en contacto para acordar acciones en conjunto.
                </p>-->
              </div>
            </article>
          </li>
          <li id="1" style="display:none">
            <article>
              <header>
                <h2>Nuestra Historia</h2>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li id="2" style="display:none">
            <article>
              <header>
                <h2>Principios de Vida en Sociedad</h2>
              </header>
              <div class="comcont">
                <p> 
NUESTRA VISIÓN:<br>
La Asociación Cultural tiene como visión ser el órgano líder de difusión y debates.<br>
Las líneas de Debate de la Asociación Cultural son:<br>
a) Historia Nacional e Internacional.<br>
b) Coyunturas Políticas y Sociales.<br>
c) Estudios de Ciencias Fácticas y Ciencias Exactas.<br>
d) El principal eje temático de la Asociación Cultural es la Realidad Nacional y relacionados, tomando especial atención al aspecto histórico nacional e internacional.<br><br>                  
NUESTROS FINES:<br>
a) Actuar como un centro  de información  académica y popular, contribuyendo a través de sus actividades al mejor conocimiento y difusión las culturas peruanas y latinoamericanas.<br>
b) Agrupar en su seno a estudiantes y ciudadanos que en el Perú y en el extranjero dedican su vida académica y cívica a la difusión  de los temas contemplados  en los artículos 31* Y 32, Y tópicos afines.<br>
c) Promover y desarrollar el conocimiento cultural del Perú y Latinoamérica en el ámbito de los temas de interés de la Asociación Cultural.<br>
d) Realizar sesiones Académicas, publicaciones, conferencias, seminarios, cursos, conversatorios, jornadas y cualquier otro medio a fin que contribuya a fomentar el mejor conocimiento  y difusión las culturas peruanas y latinoamericanas.<br>
e) Defender los intereses de sus miembros a través de la vinculación con entidades afines en la defensa estudiantil y cívica.<br><br>  
                </p>
                <p>PRINCIPIOS<br>El comité de actividades académicas reconoce y declara seguir los siguientes principios:<br>
                Fraternidad, la asociación busca a través de su actividad.<br> 
                Objetividad, se reconoce la imparcialidad. <br> 
                Excelencia, .<br>
                Autenticidad, .<br>
                Integración, .<br>
                Identidad, .<br>
                Acción Social, .<br>
                Cooperación, .<br>
              </p>
              </div>
            </article>
          </li>
          <li id="3" style="display:none">
            <article>
              <header>
                <h2>Nuestras Actividades</h2>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
function show(id) {
    document.getElementById(id).style.display = "block";
}

function hide(id1, id2, id3) {
    document.getElementById(id1).style.display = "none";
    document.getElementById(id2).style.display = "none";
    document.getElementById(id3).style.display = "none";
}
</script>
{% endblock %}