{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}

    {{ parent() }}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <header class="header">
        <h1 class="rock midFont">Bienvenidos al <br> Ágora Popular</h1> 
    </header>
    <section>
        <h2>Últimas Noticias</h2>
        <article>

        </article>
    </section>
    <aside>
        <h2>Descubre más ...</h2>
        <ul class="list-unstyled tag-cloud">
            <li><a href="">Noticias</a></li>
            <li><a href="">Youtube</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">RT</a></li>
            <li><a href="#">HISPAN TV</a></li>
            <li><a href="#">Tele SUR</a></li>
            <li><a href="#">Fonavi</a></li>
        </ul>
    </aside>
    <footer>
        <p>©2016 BGLsoft inc.</p>
    </footer>
{% endblock %}